body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#111;
  color:#fff;
}

.layout{
  display:flex;
  height:100vh;
}

.sidebar{
  width:230px;
  background:#000;
  padding:20px;
}

.sidebar h2{
  color:#FFC107;
}

.sidebar li{
  list-style:none;
  margin:12px 0;
  color:#aaa;
}

.sidebar .active{
  color:#FFC107;
  font-weight:bold;
}

.content{
  flex:1;
  padding:30px;
}

/* FORM */
.formCard{
  background:#1b1b1b;
  padding:20px;
  width:320px;
  border-radius:10px;
  box-shadow:0 0 20px rgba(255,193,7,.2);
}

.formCard input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:6px;
  background:#111;
  color:white;
}

.formCard label{
  font-size:12px;
  color:#aaa;
}

#generateBtn{
  margin-top:15px;
  width:100%;
  padding:12px;
  background:#FFC107;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

/* RESULT */
.resultCard{
  margin-top:30px;
  background:#000;
  padding:20px;
  border-radius:10px;
  max-width:700px;
}

pre{
  color:#00ff9c;
  white-space:pre-wrap;
}
